.portfolio-manager-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;

  .left-column {
    background-color: maroon;
    border-radius: 0px 10px 0px 0px;
  }

  .right-column {
    background-color: orange;
  }
}
